---
reboot_strategy: 'best-effort'
registry:
  user: atsjenkins
  email: jenkins@advancedtelematic.com
ec2:
  key: tauron
  image: ami-07fd8270
  region: eu-west-1

vars:
  db_root_password: "sota-test"
  db_user: "sota"
  db_user_password: "s0ta"
  db_resolver_name: "sota_resolver"
  db_core_name: "sota_core"
  play_crypto_secret: "YM5B6o<ywKn4tTyA;tOZ<2xUEajF4DDi=O/PPm1Q^w2LqtKISd9oqYT6b>>C1gQa"
  monitoring_key_id: "aws-iam-key-id"
  monitoring_secret_key: "aws-iam-secret-id"
