global
  log /dev/log local0 debug

defaults
  timeout server  86400000
  timeout connect 86400000
  timeout client  86400000
  timeout queue   1000s
  option http-server-close


###################################################################################
##
##  Routes Definitons
##
###################################################################################

frontend http_external
  mode http
  bind *:80
  reqidel ^X-Forwarded-Proto:.*

  acl webserver path_beg /

  use_backend webserver if webserver
  default_backend webserver

###################################################################################
##
##  Backend definitions
##
###################################################################################

backend resolver
  mode http
  {% for host in groups['resolver'] %}
  server resolver_{{ hostvars[host].id }} {{ host }}:8081 weight 1 check inter 1s
  {% endfor %}

backend core 
  mode http
  {% for host in groups['core'] %}
  server core_{{ hostvars[host].id }} {{ host }}:8080 weight 1 check inter 1s
  {% endfor %}

backend webserver 
  mode http
  {% for host in groups['webserver'] %}
  server webserver_{{ hostvars[host].id }} {{ host }}:9000 weight 1 check inter 1s
  {% endfor %}

###################################################################################
##
##  Mysql settings
##
###################################################################################

frontend mysql_frontend_3306 
  bind *:3306
  default_backend mysql_backend_3307

backend mysql_backend_3307
  mode tcp
  {% for host in groups['mysql'] %}
  server mysql_{{ hostvars[host].id }} {{ host }}:3307 weight 1 check inter 1s
  {% endfor %}

###################################################################################
##
##  Statistics page settings
##
###################################################################################

listen stats :8888
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth admin:admin

