@()()

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>SOTA Admin UI</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
    </head>
    <body>
      <div class="container">
        <h1>SOTA Web Admin</h1>

        <div id="app">
        </div>

        <div id="package">
        </div>

        <div id="updatePackage">
        </div>
        <script src="@routes.Assets.versioned("libs/react/JSXTransformer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("libs/react/react.js")" type="text/javascript"></script>
        <script type="text/jsx" src="@routes.Assets.versioned("javascripts/react-app.js")" type="text/javascript"></script>

      </div>
    </body>
</html>
