<!--
  ~ Copyright: Copyright (C) 2015, Jaguar Land Rover
  ~ License: MPL-2.0
  -->

<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%.-1level|%d{HH:mm:ss.SSS}|%logger{36}|%message%n%exception</pattern>
    </encoder>
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <root level="${rootLevel:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
